.add-image-menu {
    /* position: absolute;
    top: 0;
    right: 0;
    margin: 1rem; */
    height: 0;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
}

.menu-wrapper {
    /* background: linear-gradient(
        to left,
        transparent 0%,
        transparent 34%,
        #000002aa 35%,
        #000002aa 65%,
        transparent 66%,
        transparent 100%
    );
    display: flex;
    flex-direction: column;
    justify-content: space-between; */
    /* position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 8rem; */
    /* min-height: 8rem; */
}

.btn {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    font-size: 4rem;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* font-size: 4rem; */
    /* padding: 1rem; */
}

.btn:not(menu-wrapper:first-child) {
    /* position: absolute;
    top: 0;
    left: 0; */
}

.btn-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#btn-upload {
    /* margin: 1rem 0; */
}

.open-menu-enter-from,
.open-menu-leave-to {
    transform: translate(0, 0);
}

/* .open-menu-enter-to,
.open-menu-leave-from {
} */
