.add-image-btn {
    background-color: #000002bb;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.btn {
    border-radius: 50%;
}

.open-menu-enter-from,
.open-menu-leave-to {
    transform: translate(0, 0);
}

/* .open-menu-enter-to,
.open-menu-leave-from {
} */
