:root {
    --white: #fefffa;
    --black: #000002;
    --grey: #30303a;
    --red: #f60201;
    --yellow: #fded01;
    --blue: #1f7fc9;
    --sans: Roboto, Arial, Helvetica, sans-serif;
    --fancy: MuseoModerno, Arial, Helvetica, sans-serif;
}

.red {
    background-color: var(--red);
}

.yellow {
    background-color: var(--yellow);
}

.blue {
    background-color: var(--blue);
}

* {
    box-sizing: border-box;
}

body {
    margin: 1rem;
    font-family: var(--sans);
    background-color: #7a7a7a47;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

input[type="file"] {
    display: none;
}

h1,
h2,
h3 {
    font-family: var(--fancy);
}

h1 {
    margin: 0;
    font-size: 6rem;
    text-shadow: 3px 12px 10px var(--yellow), -12px -1px 10px var(--blue),
        12px -10px 10px var(--red);
    color: var(--black);
}

h2 {
    font-size: 3rem;
    text-align: center;
    margin: 0;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
}

hr {
    margin: 1rem 0;
}

form * {
    font-size: 1.1em;
    font-family: var(--sans);
}

.page {
    background-color: #000002dd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.btn-size {
    font-size: 6rem;
}

.btn {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    font-size: 4rem;
    color: var(--white);
    position: relative;
}

.btn i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#btn-plus {
    box-shadow: 0px 0px 5px 5px #999999dd;
}

.metadata-elem {
    margin: 0.5rem;
    text-align: center;
}

#metadata-submit {
    margin: 2rem;
}

/* metallic style  */
.metal {
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3),
        inset 0px 0px 5px 0px rgba(0, 0, 2, 0.5),
        3px 3px 11px 1px rgba(0, 0, 0, 0.5);
    background-image: repeating-linear-gradient(
            to left,
            hsla(0, 0%, 100%, 0) 0%,
            hsla(0, 0%, 100%, 0) 6%,
            hsla(0, 0%, 100%, 0.1) 7.5%
        ),
        repeating-linear-gradient(
            to left,
            hsla(0, 0%, 0%, 0) 0%,
            hsla(0, 0%, 0%, 0) 4%,
            hsla(0, 0%, 0%, 0.03) 4.5%
        ),
        repeating-linear-gradient(
            to left,
            hsla(0, 0%, 100%, 0) 0%,
            hsla(0, 0%, 100%, 0) 1.2%,
            hsla(0, 0%, 100%, 0.15) 2.2%
        ),
        radial-gradient(
            hsl(0, 0%, 78%) 0%,
            hsl(0, 0%, 90%) 60%,
            hsl(0, 0%, 70%) 100%
        );
}
