.metadata-page {
    background-color: #000002dd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.metadata-container {
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}
