* {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}

body {
    margin: 1rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

.cards-container {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.aspect-ratio-box {
    overflow: hidden;
    height: 0;
    padding-top: 75%;
}

.card {
    border: 3px solid hotpink;
    position: relative;
}

.card-thumb {
    width: 100%;
    height: calc(100% - 2rem);
    object-fit: cover;
    padding: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
}

.card-text {
    font-size: 1.5rem;
    padding: 0.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
}

@media screen and (min-width: 720px) {
    .cards-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1024px) {
    .cards-container {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1500px;
    }
}
